<div class="container">

    <div class="row text-center">
        <h1>Hello</h1>
    </div>

    <div class="row">
        <div class="col">
            <h2>Waiting</h2>
            <ul>
            {{#each burger}}
                <li>this.burger_name</li>
            {{/each}}
            </ul>
        </div>
        <div class="col">
            <h2>Still waiting</h2>
            {{#if burger}}
        </div>
    </div>


</div>




