<div class='container'>

    <div class="row bg-danger" id="title">
        <h1 class="r">Hello</h1>
    </div>
    <div class="burgerShop">
    <div class="row py-5">
        <div class="col bg-dark text-white">
            <h2 class="text-center">Waiting</h2>
            <ul>
            {{#each burger}}
            {{#unless this.devoured}}
                <li>{{this.burger_name}}</li>
            {{/unless}}
            {{/each}}
            </ul>
        </div>
        <div class="col bg-secondary">
            <h2 class="text-center text-white"><u>Devoured</u></h2>
            <ul>
                {{#each burger}}
                {{#if devoured}}
                <li>{{this.burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    </div>
    <div class="row">
        <input type="text" id="userBurger">
        <button id="submitB" class="bg-primary text-white">Submit</button>
    </div>


</div>




